body {font-family:"Trebuchet MS","Lucida Grande",georgia,serif; font-size:1em; color:#000; padding:0; margin:0; }
h1{ font-size:1.4em; color:#c01f55; text-transform:capitalize; }
h2{ font-size:1.35em; color:#327085; }
div.container{ width:760px; margin:auto; padding:0 10px; position:relative; }
span.child-name{ text-transform:capitalize; }

/* header */
div#header{ background:url("/img/sprite-main-aaa.png") repeat-x 0 0; height:133px; }
div#header img#logo{ width:166px; height:83px; border:0; position:absolute; top:0; left:30px; }
ul#navigation{ position:absolute; top:60px; left:230px; height:50px; }
ul#navigation, ul#navigation li{ list-style-type:none; margin:0; padding:0; }
ul#navigation li{
  background:url("/img/sprite-main-aaa.png") no-repeat 0 -157px;
  margin-right:10px; 
  width:112px;
  height:44px;
  font-size:1.1em;
  padding:17px 20px 0;
  list-style:none;
  float:left;
  position:relative;
}
ul#navigation li a{ height:22px; color:#fff; text-decoration:none; } 
ul#navigation li a div{ background:url("/img/sprite-main-aaa.png") no-repeat; float:left; height:22px; width:22px; margin-right:5px; padding:0 0 0 0; } 
ul#navigation li a.add-child div{ background-position: 0 -218px; margin-left:4px; }
ul#navigation li a.share div{ background-position: -22px -218px; margin-left:17px; }
ul#navigation li a.upgrade div{ background-position: -44px -218px; margin-left:8px; }

div#header-bar{ background:url("/img/sprite-main-aaa.png") repeat-x 0 -133px; height:24px; width:100%; margin-top:-24px; position:relative; } 

/* // header */

ul#album-list{width:150px; float:left;}
ul#album-list li{margin:0; padding:20px 0; list-style:none; font-size:.75em}
ul#album-list li img{width:125px;}

ul#photo-list{}
ul#photo-list li{margin:0; padding:10px; list-style:none; float:left; height:125px; width:100px; text-align:center; font-size:.5em;}
ul#photo-list li img{max-height:100px; max-width:100px;}

button, .swfupload {
  font-family:georgia,serif; font-size:1.25em; color:#000;
  padding:5px;
  background-color:gray;
  border:solid 1px black;
}

div.photo-queue-item {
  height:40px;
  width:200px;
  background-color:yellow;
  border:solid 1px #000;
}

/* from sr */
.fb-font{ color:#333; font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size:13px; }
.status{ margin: 5px 40px; width:500px; }
.status div.pic { float:left; height:70px; margin:0 10px 0 0; }
.status p { border-left:2px solid #ccc; margin-left:60px; padding-left: 10px; color: #808080; font-size:11px; }
.status p div { margin-top:3px; }
