body {font-family:georgia,serif; font-size:1.25em; color:#000;}

ul#navigation{height:50px; margin:0; padding:0;}
ul#navigation li{margin:0; padding:0 20px; list-style:none; float:left;}

ul#album-list{width:150px; float:left;}
ul#album-list li{margin:0; padding:20px 0; list-style:none; font-size:.75em}
ul#album-list li img{width:125px;}

ul#photo-list{}
ul#photo-list li{margin:0; padding:10px; list-style:none; float:left; height:125px; width:100px; text-align:center; font-size:.5em;}
ul#photo-list li img{max-height:100px; max-width:100px;}

button, .swfupload {
  font-family:georgia,serif; font-size:1.25em; color:#000;
  padding:5px;
  background-color:gray;
  border:solid 1px black;
}

div.photo-queue-item {
  height:40px;
  width:200px;
  background-color:yellow;
  border:solid 1px #000;
}

/* from sr */
.fb-font{ color:#333; font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size:13px; }
.status{ margin: 5px 40px; width:500px; }
.status div.pic { float:left; height:70px; margin:0 10px 0 0; }
.status p { border-left:2px solid #ccc; margin-left:60px; padding-left: 10px; color: #808080; font-size:11px; }
.status p div { margin-top:3px; }
